<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Page</title>

<link rel=stylesheet th:href="@{/about.css}">
<link rel=stylesheet th:href="@{/bar.css}">
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>
</div>
</head>
<body>

	<div class="container">
		<h1>About BeatBox Music Streaming App</h1>

		<div class="feature">
			<h2>Vast Music Library</h2>
			<p>BeatBox Music Streaming App revolutionizes the way you
				experience music. Boasting a vast music library with millions of
				songs spanning diverse genres and languages, BeatBox ensures that
				every user discovers their favorite tunes effortlessly. Its advanced
				recommendation system analyzes your listening habits to curate
				personalized playlists tailored to your unique taste. With a global
				presence and multilingual support, BeatBox brings together music
				lovers from around the world, transcending geographical boundaries.
				Moreover, BeatBox fosters a vibrant community of artists and
				enthusiasts, offering opportunities for collaboration and real-time
				music creation. Experience the thrill of live performances and
				exclusive events hosted on BeatBox, featuring renowned artists and
				emerging talents. With offline listening mode, enjoy your favorite
				tracks anytime, anywhere, even without an internet connection.
				Embrace the future of music streaming with BeatBox – where
				innovation meets harmony.</p>
		</div>



		<!-- Add more features in a similar fashion -->

		<div class="feature">
			<h2>Global Reach</h2>
			<p>With a global presence and multilingual support, BeatBox
				caters to music lovers worldwide, transcending geographical
				boundaries and bringing people together through the power of music.</p>
		</div>

	</div>

	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	</div>

</body>
</html>