<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CONTACT</title>
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>
</div>

</head>
<link rel=stylesheet th:href="@{/contact.css}">
<link rel=stylesheet th:href="@{/bar.css}">
<body>

	<!-- Contact Section -->
	<div class="contact-section">
		<h2>Contact Us</h2>
		<p>If you have any questions or inquiries, feel free to reach out
			to us.</p>
		<ul>
			<li>Email: priya@beatbox.com</li>
			<li>Phone: 6370118155</li>
			<li>Address: BTM Layout, Banglore, India</li>
		</ul>
	</div>
	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	</div>
</body>
</html>