<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <link rel=stylesheet href="displayplaylist.css">
  <link rel=stylesheet th:href="@{/bar.css}">
  <title>
   List of songs
  </title>
 </head>
  <!-- Navigation bar -->
    <div class="navbar">
<a th:href="@{/home}">Home</a>  
<a th:href="@{/about}">About</a>
<a th:href="@{/contact}">Contact</a>
<a href="login">Login</a>
<a href="registration">Register</a>
<a th:href="@{/logout}">Logout</a>
</div>
 <body>
  <table border="1">
   <thead>
    <tr>
     <th>Name</th>
     <th>Artist</th>
     <th>Genre</th>
     <th>Play</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="song:${songs}">
    <td th:text="${song.name}"></td>
    <td th:text="${song.artist}"></td>
    <td th:text="${song.genre}"></td>
    <td>
    <audio controls>
          <source th:src="${song.link}">      
      </audio>
    </tr>
   </tbody>
  </table>
  
 <!-- Footer bar -->
	    <!-- <div class="footer">
	        <p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	    </div> -->
  
 </body>
 </html>