<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet th:href="@{/index.css}">
<link rel=stylesheet th:href="@{/bar.css}">
<title>HOME</title>
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>
</div>
</head>
<body>
	<h2>Home Page</h2>
	<div class="greet">
		<h5>Greetings from BeatBox</h5>
	</div>
	<h6>"Hey there, music enthusiast! Ready to dive into the
		rhythm-packed world of BeatBox? Go ahead, hit that login button and
		let the music adventure begin! Our DJ of features is spinning some
		awesome tunes just for you. So, don't keep the beats waiting, jump in,
		and let's groove together! 🎶🎧"🎼</h6>
	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	</div>

</body>
</html>