<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>INDEX PAGE</title>
<link rel=stylesheet th:href="@{/index.css}">
<link rel=stylesheet th:href="@{/bar.css}">

</head>
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>

</div>
<h2>BeatBox Music Streaming App</h2>

<body>


	<div class="app-info">
		<p>Welcome to BeatBox! 🎵📻🎧, your ultimate destination for
			streaming music.</p>
	</div>

	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	</div>

</body>
</html>



