<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet href="index.css">
<link rel=stylesheet th:href="@{/bar.css}">
<meta charset="UTF-8">
<title>SUBSCRIPTION</title>
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>
</div>
</head>
<body>
	<p>Subscription form</p>

	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 BeatBox Music Streaming App. All rights reserved.</p>
	</div>
</body>
</html>